streamlit
matplotlib
numpy
pandas
seaborn
scikit-learn
openpyxl
plotly
streamlit_option_menu
pycaret
geopandas
folium
geopy
shapely
streamlit_folium
networkx
osmnx
streamlit==1.39.0
streamlit_plotly_events
pandas
plotly==5.21.0
textblob
joblib
numpy
langchain
matplotlib
openai
langchain_openai
langchain_groq
langchain_experimental
langchain-pinecone==0.2.0
langchain-huggingface
tabulate
scikit-learn
seaborn
pyLDAvis
opencage
aiohttp
SpeechRecognition
audio_recorder_streamlit
